brightness: 100
state_entity_id: input_boolean.streamdeck
pages:
  - name: Home
    buttons:
      - entity_id: light.living_room_lights
        service: light.toggle
        text: |
          Living room
          lights
        special_type: light-control
        special_type_data:
          colors:
            - "#FF0000"  # red
            - "#00FF00"  # green
            - "#0000FF"  # blue
            - "#FFFF00"  # yellow
            - "#FFC0CB"  # pink
            - "#800080"  # purple
            - "#FFA500"  # orange
            - "#00FFFF"  # cyan
            - "#FFD700"  # gold
            - "#008000"  # dark green
      - entity_id: light.bedroom_lights_z2m
        service: light.toggle
        text: |
          Bedroom
          lights
      - entity_id: light.guest_room
        service: light.toggle
        text: |
          Guest room
          light
      - entity_id: light.outside_lights_z2m
        service: light.toggle
        text: |
          Outside
          lights
      - entity_id: light.dinner_area
        service: light.toggle
        text: |
          Dinner
          lights
      # - entity_id: switch.space_heater
      #   service: switch.toggle
      #   text: '{{ states("switch.space_heater") }}'
      #   icon: "space-heater.png"
      #   text_size: 16
      #   text_color: black
      #   icon_gray_when_off: true
      - entity_id: media_player.kef_ls50
        service: media_player.volume_set
        service_data:
          volume_level: '{{ (state_attr("media_player.kef_ls50", "volume_level") - 0.05) | max(0) }}'
          entity_id: media_player.kef_ls50
        text: '{{ (100 * state_attr("media_player.kef_ls50", "volume_level")) | int }}%'
        text_size: 16
        icon_mdi: "volume-minus"
      - entity_id: media_player.kef_ls50
        service: media_player.volume_set
        service_data:
          volume_level: '{{ (state_attr("media_player.kef_ls50", "volume_level") + 0.05) | min(1) }}'
          entity_id: media_player.kef_ls50
        text: '{{ (100 * state_attr("media_player.kef_ls50", "volume_level")) | int }}%'
        text_size: 16
        icon_mdi: volume-plus
      - service: script.reset_adaptive_lighting
        text: |
          Reset
          adaptive
          lighting
      - icon: night_sky.png
        service: script.turn_off_everything
        text: ALL OFF
      - entity_id: input_select.sleep_mode
        service: input_select.select_previous
        text: Sleep {{ states("input_select.sleep_mode") }}
        icon_mdi: power-sleep
      - icon: fireplace.png
        service: script.start_fireplace_netflix
      - service_data:
          id: playlist:37i9dQZF1DXaRycgyh6kXP
          source: KEF LS50
        icon: spotify.png
        service: script.start_spotify
      - icon: hogwarts.png
        service: script.start_hogwarts_legacy
      - special_type: previous-page
      - special_type: next-page
  - name: Media
    buttons:
      - icon: netflix.png
        service: script.start_spotify
      - icon: xbox.png
        service: script.start_xbox
      - special_type: empty
      - special_type: empty
      - icon_mdi: restart
        service: homeassistant.restart
        text: |
          Restart
          HA
      - icon_mdi: lightbulb
        service: script.cozy_lights_living_room
        text: |
          Cozy
          lights
      - icon_mdi: lightbulb
        service: script.white_lights_living_room
        text: |
          White
          lights
      - icon_mdi: lightbulb
        entity_id: light.living_room_lights
        service: light.turn_on
        service_data:
          entity_id: light.living_room_lights
          brightness_pct: 1
        text: |
          1%
          brightness
      - icon_mdi: lightbulb
        entity_id: light.living_room_lights
        service: light.turn_on
        service_data:
          brightness_pct: 50
          entity_id: light.living_room_lights
        text: |
          50%
          brightness
      - icon_mdi: lightbulb
        entity_id: light.living_room_lights
        service: light.turn_on
        service_data:
          brightness_pct: 100
          entity_id: light.living_room_lights
        text: |
          100%
          brightness
      - icon_mdi: movie
        service: automation.trigger
        service_data:
          entity_id: automation.apple_watch_movie_time
        text: |
          Movie
          time
      - special_type: go-to-page
        special_type_data: Home
      - special_type: go-to-page
        special_type_data: 0
      - special_type: previous-page
      - special_type: next-page
  - name: Spotify
    buttons:
      # Electronica Romantica
      - service_data:
          id: playlist:37i9dQZF1DXaRycgyh6kXP
          source: KEF LS50
        icon: "spotify:playlist/37i9dQZF1DXaRycgyh6kXP"
        service: script.start_spotify

      # Gui Borato's track IDs
      - service_data:
          id: playlist:37i9dQZF1DX4fgrmoIzHtd
          source: KEF LS50
        icon: "spotify:playlist/37i9dQZF1DX4fgrmoIzHtd"
        service: script.start_spotify

      # Hijos del Sol
      - service_data:
          id: album:6gnYcXVaffdG0vwVM34cr8
          source: KEF LS50
        icon: "spotify:album/6gnYcXVaffdG0vwVM34cr8"
        service: script.start_spotify

      # Lofi
      - service_data:
          id: playlist:0vvXsWCC9xrXsKd4FyS8kM
          source: KEF LS50
        icon: "spotify:playlist/0vvXsWCC9xrXsKd4FyS8kM"
        service: script.start_spotify

      # Whiskey Bar playlist
      - service_data:
          id: playlist:7fAwscs01z0Rji0HIIB19l
          source: KEF LS50
        icon: "spotify:playlist/7fAwscs01z0Rji0HIIB19l"
        service: script.start_spotify

      # Deep House Relax
      - service_data:
          id: playlist:37i9dQZF1DX2TRYkJECvfC
          source: KEF LS50
        icon: "spotify:playlist/37i9dQZF1DX2TRYkJECvfC"
        service: script.start_spotify

      # Discover Weekly
      - service_data:
          id: playlist:37i9dQZEVXcJ4MCS0sT9Qc
          source: KEF LS50
        icon: "spotify:playlist/37i9dQZEVXcJ4MCS0sT9Qc"
        service: script.start_spotify

      # Bas Nijholt's playlist
      - service_data:
          id: playlist:6rPTm9dYftKcFAfwyRqmDZ
          source: KEF LS50
        icon: "spotify:playlist/6rPTm9dYftKcFAfwyRqmDZ"
        service: script.start_spotify

      # Techno Yoga
      - service_data:
          id: playlist:78MrlTajauLF07fztVmEv3
          source: KEF LS50
        icon: "spotify:playlist/78MrlTajauLF07fztVmEv3"
        service: script.start_spotify

      # Nicolas Jaar Essential Mix
      - service_data:
          id: playlist:5DKwqbNTYB384iW7TGQGAh
          source: KEF LS50
        icon: "spotify:playlist/5DKwqbNTYB384iW7TGQGAh"
        service: script.start_spotify

      # # Coding mode
      # - service_data:
      #     id: playlist:37i9dQZF1DX5trt9i14X7j
      #     source: KEF LS50
      #   icon: "spotify:playlist/37i9dQZF1DX5trt9i14X7j"
      #   service: script.start_spotify

      # Next song
      - service: media_player.media_next_track
        entity_id: media_player.spotify
        icon_mdi: "skip-next"
        text: Next

      # Volume down
      - entity_id: media_player.kef_ls50
        service: media_player.volume_set
        service_data:
          volume_level: '{{ (state_attr("media_player.kef_ls50", "volume_level") - 0.05) | max(0) }}'
          entity_id: media_player.kef_ls50
        text: '{{ (100 * state_attr("media_player.kef_ls50", "volume_level")) | int }}%'
        text_size: 16
        icon_mdi: "volume-minus"

      # Volume up
      - entity_id: media_player.kef_ls50
        service: media_player.volume_set
        service_data:
          volume_level: '{{ (state_attr("media_player.kef_ls50", "volume_level") + 0.05) | min(1) }}'
          entity_id: media_player.kef_ls50
        text: '{{ (100 * state_attr("media_player.kef_ls50", "volume_level")) | int }}%'
        text_size: 16
        icon_mdi: volume-plus

      # Change pages
      - special_type: previous-page
      - special_type: next-page

  - name: Testing
    buttons:
      - special_type: turn-off
      - special_type: previous-page
      - special_type: next-page
      - icon: "url:https://raw.githubusercontent.com/basnijholt/home-assistant-streamdeck-yaml/main/assets/fireplace.png"
        text: "yo"
      - entity_id: light.living_room_lights
        service: light.turn_on
        service_data:
          entity_id: light.living_room_lights
          brightness: >-
            {% set current_brightness = state_attr('light.living_room_lights', 'brightness') %}
            {% set next_brightness = (current_brightness + 25.5) % 255 %}
            {{ min(next_brightness, 255) | int }}
        text: >-
          {% set current_brightness = state_attr('light.living_room_lights', 'brightness') %}
          {% set brightness_pct = (current_brightness / 255) * 100 %}
          {{ brightness_pct | round }}%
      - entity_id: media_player.kef_ls50
        service: media_player.volume_mute
        service_data:
          entity_id: media_player.kef_ls50
          is_volume_muted: >-
            {% if is_state_attr('media_player.kef_ls50', 'is_volume_muted', true) %}
            false
            {% else %}
            true
            {% endif %}
        icon_mdi: >-
          {% if is_state_attr('media_player.kef_ls50', 'is_volume_muted', true) %}
          volume-off
          {% else %}
          volume-high
          {% endif %}
        text: >-
          {% if is_state_attr('media_player.kef_ls50', 'is_volume_muted', true) %}
          Unmute
          {% else %}
          Mute
          {% endif %}
      - entity_id: media_player.kef_ls50
        icon_mdi: "does-not-exist"
anonymous_pages:
  timers:
    - icon_mdi: timer-outline
      text: "10s"
      delay: 10
    - icon_mdi: timer-outline
      text: "20s"
      delay: 20
    - icon_mdi: timer-outline
      text: "30s"
      delay: 30
